/* General styling */
body {
    background-color: #F5F5F5;
    margin-top: -30px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

/* Nav/top banner styling*/
nav {
  background-color: #A19F9E;
  color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  height: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-brand {
  padding-top: 3px;
}

h1 {
  font-size: 32px;
  font-family: 'Teko', sans-serif;
}

/* Submission form/its contents (contained in a modal) */

.submission-form {
  text-align: center;
  padding: 30px;
}

.form-group {
  margin: auto;
  width: 100%;
}

.form-control {
  margin-bottom: 5px;
}

textarea {
  resize: none;
}

/* Styling for the "extension page" which contains the extensions and the bulk of the content */

.extension-page {
  text-align: center;
  height: 100%;
  width: 100%;
  min-width: 525px;
}

/* Styling overrides for bootstrap container (the 'middle piece' of the page) */

.container {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 30px;
  background-color: #ebe9e7;
  border-radius: 3px;
}

.extension {
  margin-top: 50px;
  background: #F3F3F3;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 5px;
  min-height: 650px;
}

/* Styling for items within each Extension*/

.col-md-6 {
  min-width: 450px;
}

.description {
  margin: 30px;
  overflow-y: auto;
  max-height: 500px;
}

.icon {
  margin: 30px;
}

.title {
  margin: 30px;
  font-family: 'Teko', sans-serif;
}

/* Styling for buttons used throughout the app */

.btn {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin-right: 5px;
  margin-left: 5px;
  min-width: 135px;
}

.btn:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.btn-success {
  width: 225px;
  height: 75px;
  font-size: 25px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.btn-chrome {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.btn-firefox {
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.btn-group {
  margin-top: 30px;
  padding-left: 125px;
  width: 540px;
}
