body {
    background-color: #ebe9e7;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav {
  background-color: #A19F9E;
  color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  height: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 32px;
}

.navbar-header {
  top: 0;
}

.extension-page {
  text-align: center;
  height: 100%;
  width: 100%;
}

.extension {
  min-height: 650px;
  margin-top: 50px;
  background: #F5F5F5;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 5px;
}

.description {
  margin: 30px;
}

.icon {
  margin: 30px;
}

.title {
  margin: 30px;
}

.btn {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin-right: 5px;
  margin-left: 5px;
}

.btn:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.btn-success {
  width: 225px;
  height: 75px;
  font-size: 25px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.btn-chrome {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.btn-firefox {
  position: absolute;
  bottom: 5%;
  left: 5%;
}
