body {
    background-color: #FFD9D8;
}

nav {
  background-color: #7F0400;
  color: white;
}

form {
  padding: 5px;
}

.modal {
  width: 350px;
  position: fixed;
  margin: 5% auto;
  border-radius: 5px;
}

.modal-content {
    background-color: #ececec;
    border: 1px solid #bdc3c7;
    outline: 0;
}

.extension-page {
  text-align: center;
  height: 100%;
  width: 100%;
}

.extension-page-header {
  background-color: #7F0400;
  min-width: 570px;
  color: white;
}

.extension-page-footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  background-color: #7F0400;
  width: 100%;
  padding:15px;
  color: white;
}


.extension {
  height: 650px;
  width: 550px;
  margin: 10px;
  display: inline-block;
  color: slategray;
  background: #F5F5F5;
  border: 1px solid black;
}
